@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .no-scroll::-webkit-scrollbar {
        display: none;
    }
  
    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
      width: 13px;
      height: 13px;
    }


    ::-webkit-scrollbar-track {
      background: rgba(219, 61, 156, 0.1);
    }

    ::-webkit-scrollbar-thumb {
      background: #DB3C9B;
      border-radius: 8px;
    }

    .modalWindow {
      scrollbar-gutter: stable;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
    }
      
    @keyframes fadeOut {
        from {
          opacity: 1;
          transform: scale(1);
        }
        to {
          opacity: 0;
          transform: scale(0.9);
        }
    }
    .modalShadow {
        box-shadow: 0px 4px 8px 0px #00000029;
    }

    .headerShadow {
      backdrop-filter: blur(24px);
      box-shadow: 0px 4px 12px 0px #00000014;
    }
}
